[Unit]
Descritpion=StrashAPI for kart stuff

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=${BOT_API_SERVICE_USER}
WorkingDirectory=${BOT_API_SERVICE_WORKDIR}
ExecStart=node api.js
Restart=on-failure
StandardOutput=journal
